/* 导航栏样式设置*/
*{
  margin: 0;
  padding: 0
}
body{
  text-align: center;
  background: #00c3ff;
}
#bg-long{
  overflow: hidden;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#bg-long img{
  width: 100%;
  height: 100%;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30s;
}
.c1{
  animation-name: roll1;
}
.c2{
  animation-name: roll2;
}
@keyframes roll1{
  0%{left: 0px; top: 0px;}
  100%{left: 100%; top: 0px;}
}
@keyframes roll2{
  0%{left: -100%; top: 0px;}
  100%{left: 0px; top: 0px;}
}

#logo{
  position: absolute;
  top: 200px;
  right: 200px;
  width:400px;
  height: 288px;
}
.nav {
  position:fixed;
  left: 0;
  right: 0;
  margin:0 auto;
  width: 880px;
  height: 70px;
  z-index: 3;
}
.nav ul li{
  margin-top: 30px;
  float:left;
  margin-left: 5px;
  margin-right: 5px;
}
/* 导航栏链接样式设置 */
.nav ul li a{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color:#fff;
  border: 1.5px solid #00c3ff;
  border-radius: 7px;
  background:rgba(0,0,0,.25);
  transform:skew(-10deg);
  font-size: 18px;
}
.nav ul li a>span{
  display: inline-block;
  transform:skew(10deg);
}
#top1{
position: absolute;
top: 182px;
width: 355px;
height: 618px;
left: 10%;
z-index: 1;
}
#top2{
  position:absolute;
  width: 100%;
  height:100%;
  z-index: 2;
  top: 650px;
}
#top3{
  position: relative;
  margin: 0 auto;
  top: 800px;
  left: -65px;
  z-index: 3;
  margin-top: 30px;
} 
.video1,.video2{
  width:200px;
  height: 130px;
  border: 3px solid #fff;
  border-radius: 20px;
  background:rgba(0,0,0,.25);
  transform:skew(-10deg);
}
.video2{
  margin-left: 70px;
}
.v1,.v2{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.upline{
  position: absolute;
  width: 850px;
  left: 325px;
  top: 750px;
  z-index: 4;
}
#kiana1{
  margin-left: 50px;
  margin-right: 25px;
  background-image: url(./image/kiana_c1.png);
}
.Valkyrie{
  width: 120px;
  height: 130px;
  border: 2px solid #fff;
  border-radius: 15px;
  transform:skew(-10deg);
  background: #00c3ff;
  background-size: cover;
  background-position-x: -10px;
}